@import url('https://fonts.googleapis.com/css2?family=ADLaM+Display&family=Montserrat:wght@400;700&display=swap');

.hand {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-bottom: 20px;
}

.winner {
  font-size: 48px;
  text-align: center;
  color: #f2e1c9; /* A lighter shade that complements the gradient background */
}

.total-experience-card {
  background-color: #6f4598;
  font-family: 'ADLaM Display', cursive;
  font-size: 22px;
  padding: 10px 20px;
  border-radius: 7px;
  box-shadow: 0px 3px 15px rgba(0, 0, 0, 0.2);
  color: #5c5e8b;
}

.total-experience-card.winning {
  text-align: center;
  background-color: #1bec15; /* Green color for the winning hand */
}

.total-experience-card.losing {
  text-align: center;
  background-color: #69030f; /* Red color for the losing hand */
}
